 @model List<CollegeProgram> // controller ko action bata list ko college program aaudai xa mention gardeko

<a class="btn btn-success" href="/program/add" ><i class="bi bi-plus"></i> New Tech Program </a>

<h2>Program </h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Affiliation</th>
      <th scope="col">StartedDate</th>
    </tr>
  </thead>
  <tbody>
  @foreach(var college in Model)
  {
    <tr>
      <th scope="row">@college.Id</th>
      <td>@college.Name</td>
      <td>@college.Affiliation</td>
      <td>@college.StartedDate</td>
       <td>
          <a href="/program/edit?id=@college.Id"><i class="bi bi-pen text-warning"></i></a>
          <a href="/program/delete?id=@college.Id"><i class="bi bi-trash text-danger"></i></a>
        </td>
    </tr>
  }
  </tbody>
</table>